@import "neatstuff";

* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
.panel {
  position: absolute;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  animation-delay: .2s;
  animation-timing-function: cubic-bezier(1,-0.01,.57,1.01);
  visibility: hidden;
}
.front {
  background: url("../images/deskbg5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  z-index: 12;
  cursor: context-menu;

  .landing {
    display: inline-block;
    margin: 26.5vh 0 0 20vw;
    height: 35vh;
    .motto {
      margin: 0 0 0 0;
      font-size: 50px;
      font-family: 'Abel';
      visibility: hidden;
    }
    .glitch {
      color: black;
      font-size: 50px;
      position: relative;
      margin: 0 auto;
      &:after {
        content: attr(data-text);
        position: absolute;
        left: 2px;
        text-shadow: -1px 0 red;
        top: 0;
        color: black;
        background: white;
        overflow: hidden;
        clip: rect(0, 900px, 0, 0);
        animation: noise-anim 2s 2 linear alternate-reverse;
        animation-delay: 2.5s;
      }

    }
    .landtitle {
      margin: 0 0 0.5vh 0;
      font-size: 32.5px;
      font-family: 'Abel';
      letter-spacing: 1px;
      animation-delay: .25s;
      img {
        width: 25px;
      }
    }
  }

  //scroll wheel
  .iconArea {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 3vh;
    height: 32vh;

    .mouse {
      position: relative;
      width: 25px;
      height: 38px;
      border: 3px solid #424242;
      border-radius: 75px;
      animation: boggle 1s linear infinite alternate;

      &:after {
        content: "";
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        margin: auto;
        border-radius: 100%;
        background-color: #424242;
        width: 5px;
        height: 5px;
        animation: scrollDown 1s linear infinite alternate;

        @keyframes scrollDown {
          0% {
            transform: translateY(-10px);
            opacity: 1;
          }
          50% {
            transform: translateY(0px);
            opacity: 0.7;
          }
          100% {
            transform: translateY(5px);
            opacity: 0;
          }
        }
      }

      @keyframes boggle {
        0% {
          transform: translateY(2.5px);
        }
        50% {
          transform: translateY(5px);
          border-color: #777;
        }
        100% {
          transform: translateY(7.5px);
          border-color: #9b9b9b;
        }
      }
    }
    p {
      margin: 0.5vh 10vw 0 10vw;
      font-family: 'Titillium Web';
      font-weight: bold;
      text-align: center;
      animation: boggleOffset 1s linear infinite alternate;
      animation-delay: .125s;

      @keyframes boggleOffset {
        0% {
          transform: translateY(2.5px);
        }
        50% {
          transform: translateY(5px);
        }
        100% {
          transform: translateY(7.5px);
        }
      }
    }
  }
}
.viz {
  display: flex;
  position: fixed;
  background-color: white;
  z-index: 11;
  .selecttitle {
    font-family: 'Hansief';
    font-size: 60px;
    color: white;
  }
  p {
    position: relative;
    padding: 5px;
  }
  p a {
    color: inherit;
    text-decoration: none;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      border-bottom: 3px solid white;
      width: 0;
    }
    &:hover:after {
      width: 100%;
      transition: .5s;
    }
  }
}
.subdiv1 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  width: 50vw;
  height: 0;
  border-top: 50vh solid transparent;
  border-right: 0vw solid #4d8bbc;
  border-bottom: 50vh solid transparent;
  background-color: #4d8bbc;
  transition: 1s;
  cursor: pointer;

  .title {
    position: relative;
    bottom: 5vh;
    font-size: 70px;
    animation-delay: 0.8s;
  }
  p {
    position: absolute;
    top: -30vh;
    left: 10vw;
  }
  &:hover {
    -webkit-box-shadow: 8px 4px 45px 12px rgba(0,0,0,0.25);
    -moz-box-shadow: 8px 4px 45px 12px rgba(0,0,0,0.25);
    box-shadow: 8px 4px 45px 12px rgba(0,0,0,0.25);
    z-index: 2;
  }
}
.subdiv2 {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 0;
  border-top: 50vh solid transparent;
  border-left: 10vw solid #aeaeae;
  border-bottom: 50vh solid transparent;
  background-color: #aeaeae;
  transition: 1s;
  cursor: pointer;

  .title {
    animation-delay: .4s;
  }
  p {
    position: absolute;
    top: -30vh;
    right: 10vw;
  }
  &:hover {
    -webkit-box-shadow: -8px 4px 45px 12px rgba(0,0,0,0.25);
    -moz-box-shadow: -8px 4px 45px 12px rgba(0,0,0,0.25);
    box-shadow: -8px 4px 45px 12px rgba(0,0,0,0.25);
    z-index: 2;
  }
}
.subdiv3 {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-bottom: 50vh solid #0f6eb3;
  transition: 1s;
  z-index: 2;
  .title {
    animation-delay: 1.2s;
  }
  p {
    position: absolute;
    bottom: -40vh;
    width: 25vw;
    text-align: center;
  }
  &:hover {
    -webkit-box-shadow: -8px 4px 45px 12px rgba(0,0,0,0.25);
    -moz-box-shadow: -8px 4px 45px 12px rgba(0,0,0,0.25);
    box-shadow: -8px 4px 45px 12px rgba(0,0,0,0.25);
    width: 100vw;
    border-left: 0vw solid transparent !important;
    border-right: 0vw solid transparent !important;
  }
}
@keyframes noise-anim {
  0% {
    clip: rect(39px, 9999px, 40px, 0);
  }
  5% {
    clip: rect(87px, 9999px, 23px, 0);
  }
  10% {
    clip: rect(56px, 9999px, 45px, 0);
  }
  15% {
    clip: rect(6px, 9999px, 89px, 0);
  }
  20% {
    clip: rect(24px, 9999px, 19px, 0);
  }
  25% {
    clip: rect(1px, 9999px, 24px, 0);
  }
  30% {
    clip: rect(41px, 9999px, 79px, 0);
  }
  35% {
    clip: rect(47px, 9999px, 73px, 0);
  }
  40% {
    clip: rect(84px, 9999px, 100px, 0);
  }
  45% {
    clip: rect(23px, 9999px, 98px, 0);
  }
  50% {
    clip: rect(21px, 9999px, 42px, 0);
  }
  55% {
    clip: rect(17px, 9999px, 91px, 0);
  }
  60% {
    clip: rect(32px, 9999px, 25px, 0);
  }
  65% {
    clip: rect(52px, 9999px, 59px, 0);
  }
  70% {
    clip: rect(99px, 9999px, 61px, 0);
  }
  75% {
    clip: rect(91px, 9999px, 50px, 0);
  }
  80% {
    clip: rect(41px, 9999px, 7px, 0);
  }
  85% {
    clip: rect(68px, 9999px, 55px, 0);
  }
  90% {
    clip: rect(24px, 9999px, 42px, 0);
  }
  95% {
    clip: rect(74px, 9999px, 17px, 0);
  }
  100% {
    clip: rect(87px, 9999px, 2px, 0);
  }
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(29px, 9999px, 88px, 0);
  }
  5% {
    clip: rect(61px, 9999px, 2px, 0);
  }
  10% {
    clip: rect(62px, 9999px, 69px, 0);
  }
  15% {
    clip: rect(9px, 9999px, 32px, 0);
  }
  20% {
    clip: rect(24px, 9999px, 66px, 0);
  }
  25% {
    clip: rect(14px, 9999px, 8px, 0);
  }
  30% {
    clip: rect(13px, 9999px, 27px, 0);
  }
  35% {
    clip: rect(92px, 9999px, 30px, 0);
  }
  40% {
    clip: rect(4px, 9999px, 59px, 0);
  }
  45% {
    clip: rect(52px, 9999px, 86px, 0);
  }
  50% {
    clip: rect(13px, 9999px, 54px, 0);
  }
  55% {
    clip: rect(88px, 9999px, 93px, 0);
  }
  60% {
    clip: rect(21px, 9999px, 92px, 0);
  }
  65% {
    clip: rect(81px, 9999px, 72px, 0);
  }
  70% {
    clip: rect(30px, 9999px, 90px, 0);
  }
  75% {
    clip: rect(83px, 9999px, 98px, 0);
  }
  80% {
    clip: rect(15px, 9999px, 68px, 0);
  }
  85% {
    clip: rect(85px, 9999px, 33px, 0);
  }
  90% {
    clip: rect(19px, 9999px, 37px, 0);
  }
  95% {
    clip: rect(46px, 9999px, 47px, 0);
  }
  100% {
    clip: rect(19px, 9999px, 45px, 0);
  }
}
/* Media queries*/
/* Large devices (desktops, 768-1024) */
@media (max-width: 1024px) {
  .subdiv1 .title {
    font-size: 50px;
  }
  .subdiv2 .title, .subdiv3 .title {
    font-size: 45px;
  }
  .viz .selecttitle {
    font-size: 50px;
  }
}
/* Medium devices (tablets, 576-768) */
@media (max-width: 768px) {
  .landtitle {
    font-size: 25px;
  }
  .navcover h1 {
    font-size: 22px;
  }
  .navcover p {
    font-size: 18px;
  }
  .subdiv1 .title {
    font-size: 40px;
  }
  .subdiv2 .title, .subdiv3 .title {
    font-size: 35px;
  }
  .viz .selecttitle {
    font-size: 40px;
  }
}
/* Small devices (landscape phones, 420-576) */
@media (max-width: 576px) {
  .front .landing .landtitle {
    font-size: 20px;
  }
  .front .landing .glitch {
    font-size: 35px;
  }
  .navcover h1 {
    font-size: 18px;
  }
  .navcover p {
    font-size: 14px;
  }
  .subdiv1 .title {
    font-size: 30px;
  }
  .subdiv2 .title, .subdiv3 .title {
    font-size: 25px;
  }
  .viz .selecttitle {
    font-size: 30px;
  }
}
@media (max-width: 420px) {
  .menu {
    width: 30px;
    height: 30px;
  }
  .front .landing .landtitle {
    font-size: 15px;
  }
  .front .landing .glitch  {
    font-size: 30px;
  }
  .navcover h1 {
    font-size: 14px;
  }
  .navcover p {
    font-size: 12px;
  }
  .subdiv1 .title {
    font-size: 24px;
  }
  .subdiv2 .title, .subdiv3 .title {
    font-size: 20px;
  }
  .viz .selecttitle {
    font-size: 20px;
  }
  .mouse, .indicator {
    width: 16px !important;
    height: 24px !important;
    border: 1.5px solid #424242;
    border-radius: 37.5px !important;

    &:after {
      width: 3.5px!important;
      height: 3.5px!important;
    }
  }
}
