/* loading screen code */
.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}
.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}
.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(180deg);
  }
}
@keyframes spinback {
  from {
    transform: rotate(180deg);
  } to {
    transform: rotate(0deg);
  }
}
@import "neatstuff";
/* Actual code */
body {
  /*background: url("images/oh.jpg") 50% 0%;
  background-size: cover;*/
  margin: 0 !important;
  background-color: lightgrey;
  & > .inner {
    display: none;
  }
  &.pg-loaded > .inner {
    display: block;
  }
}
a {
  color: inherit;
  text-decoration: none;
}
.darken {
  filter: brightness(70%);
}
.nav {
  margin: 0vh 4vw 5vh 4vw;
  display: flex;
  position: fixed;
  justify-content: flex-end;
  top: 3vw;
  width: 92vw;
  height: 5vh;
  z-index: 100;
  .menu {
    height: 40px;
    width: 40px;
    color: black;
    transition-duration: .35s;
    cursor: pointer;
    animation-delay: .15s;
    &:hover {
      transition-timing-function: ease;
      width: 45px;
      height: 45px;
    }
    z-index: 100;
  }
  .up {
    position: absolute;
    display: none;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  .forward {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  .back {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  .menu-close {
    display: none;
    height: 30px;
    width: 30px;
    &:hover {
      width: 35px;
      height: 35px;
    }
  }
  .menu-open {
    display: none;
  }
}
.navcover {
  display: flex;
  position: fixed;
  margin: 0;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
  width: 100%;
  height: 0%;
  background: none;
  font-family: 'Source Sans Pro';
  transition: .5s;
  overflow: hidden;
  color: black;
  z-index: 99;
  h1 {
    font-size: 30px;
    color: #0069FF;
  }
  p {
    margin-left: 5%;
  }
  .quote {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 4vh auto 0 auto;
    text-align: center;
    font-family: 'Hansief';
    text-transform: uppercase;
    font-size: 14px!important;
    letter-spacing: 2px;
    color: #363636;
  }
  .ncleft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: white;
    padding-left: 15%;
    h1 {
      margin: 0 0 4% 0;
    }
  }
  .ncright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: #E3F0F4;
    padding-left: 15%;
    .title-2 {
      margin-top: 0;
    }
    .title-3 {
      margin-top: 4%;
    }
    .title-4 {
      margin-top: 1%;
    }
    .title-5 {
      margin-top: 1%;
    }
  }
  .ncmid {
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title-m {
      width: 0px;
      position: fixed;
      left: 49.5%;
    }
  }
  footer {
    position: absolute;
    bottom: 2vh;
    right: 0;
    width: 7vw;

    img {
      width: 2vw;
      height: 2vw;
    }
  }
}
.open {
  height: 100%;
  width: 100%;
  opacity: 1;
  visibility: visible;
}
.oopen {
  opacity: 1 !important;
  visibility: visible !important;
}
.invertedColors {
  filter: invert(1) !important;
}
/* Medium devices (laptops/tablets, 768-1024) */
@media (max-width: 1024px) {
  .menu {
    width: 30px!important;
    height: 30px!important;
  }
}
/* Medium devices (tablets, 576-768) */
@media (max-width: 768px) {
  .menu {
    width: 25px!important;
    height: 25px!important;
  }
}
/* Small devices (landscape phones, 420-576) */
@media (max-width: 576px) {
  .menu {
    width: 20px!important;
    height: 20px!important;
  }
}
