@import "neatstuff";

@mixin orientation($side, $amount) {
  right: $amount;
}
.mainimg {
  background-color: white;
  position: relative;
  height: 100vh;
  width: 50vw;
}
.typed-cursor {
  opacity: 0 !important;
}
body.user-is-tabbing *:focus {
  outline: 2px solid black !important; /* for non-webkit browsers */
}
.A, .A1, .A2, .A3, .A4, .A5, .B, .B1, .B2, .B3, .C, .D, .E {
  max-height: 100vh!important;
  overflow: hidden!important;
}
.A {
  display: flex;
  justify-content: left;
  align-items: center;
  @include layer(black, black, 10);
  .left {
    background-image: url("../images/desk.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding-bottom: 40vh;

    .title {
      width: 60%;
      @include title(#ffffff);
    }
  }
}
.A1 {
  display: flex;
  justify-content: right;
  @include layer(white, white, 9);
  background-image: url('../images/pencils.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .rightside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    background-color: #004486;
    margin-left: 50vw;

    .title {
      margin: 0 0 0 0;
      padding-top: 12vh;
      font-size: 50px;
      font-family: 'Hansief';
      text-align: center;
      color: white;

      .delay {
        animation-delay: 1.2s;
      }
    }
  }
  .maintext {
    margin: 5vh 5vw 0 5vw;
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: 'Titillium Web';
  }
}
.A2 {
  display: flex;
  justify-content: right;
  @include layer(white, white, 8);
  .leftside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    background-image: linear-gradient(to right, #2f5da8, #2f5da8);
    .title {
      margin: 0 0 0 0;
      padding-top: 12vh;
      font-size: 50px;
      font-family: 'Hansief';
      text-align: center;
      color: white;
      .delay {
        animation-delay: 1.2s;
      }
    }
  }
  .rightside {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: white;
      position: relative;
      height: 100vh;
      width: 43vw;
      .images {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        transform: rotate(180deg);
        img {
          margin: 2.5vh 1.5vw 2.5vh 1.5vw;
          height: 12vw;
          width: 12vw;
          border-radius: 50%;
          cursor: pointer;
          @include flashborder;
          animation: flashborder 2s linear infinite;
          transform: rotate(180deg);
          transition: .5s;

          &:hover {
            animation-play-state: paused;
            box-shadow: 0 0 10px 2px rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19) !important;
          }
        }
        .imgbottommiddle {
          animation-delay: 0.5s;
        }
        .imgbottomleft {
          animation-delay: 0.75s;
        }
      }
  }
  .maintext {
    margin: 5vh 5vw 0 5vw;
    color: white;
    font-size: 20px;
    font-family: 'Titillium Web';
  }
}
.A3 {
  display: flex;
  justify-content: right;
  @include layer(white, white, 7);
  .rightside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50.5vw;
    background-image: linear-gradient(to right, #006789, #006789);
    .title {
      margin: 0 0 0 0;
      padding-top: 12vh;
      font-size: 50px;
      font-family: 'Hansief';
      text-align: center;
      color: white;
      .delay {
        animation-delay: 1.2s;
      }
    }
  }
  .leftside {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: white;
      position: relative;
      height: 100vh;
      width: 50vw;
      .images {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        transform: rotate(180deg);
        img {
          margin: 0.75vw 2.5vh 0.75vw 2.5vh;
          height: 12vw;
          width: 12vw;
          border-radius: 50%;
          cursor: pointer;
          @include flashborder;
          animation: flashborder 2s linear infinite;
          transform: rotate(180deg);
          transition: .5s;

          &:hover {
            animation-play-state: paused;
            box-shadow: 0 0 10px 2px rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19) !important;
          }
        }
        .imgbottommiddle {
          animation-delay: 0.66s;
          filter: hue-rotate(-30deg);
        }
        .imgbottomleft {
          animation-delay: 0.33s;
          filter: hue-rotate(-30deg);
        }
      }
  }
  .maintext {
    margin: 5vh 5vw 0 5vw;
    color: white;
    font-size: 20px;
    font-family: 'Titillium Web';
  }
}
.A4 {
  display: flex;
  justify-content: right;
  @include layer(white, white, 6);
  .leftside {
    background-image: linear-gradient(to right, #009bcf, #009bcf);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    .title {
      margin: 0 0 0 0;
      padding-top: 12vh;
      font-size: 50px;
      font-family: 'Hansief';
      text-align: center;
      color: white;
      .delay {
        animation-delay: 1.2s;
      }
    }
  }
  .rightside {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: white;
      position: relative;
      height: 100vh;
      width: 50vw;
      .images {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 5vh 0 5vh 0;
        img {
          margin: 0.75vw 2.5vh 0.75vw 2.5vh;
          height: 11vw;
          width: 11vw;
          border-radius: 50%;
          cursor: pointer;
          @include flashborder;
          animation: flashborder 2s linear infinite;
          transition: .5s;

          &:hover {
            animation-play-state: paused;
            box-shadow: 0 0 10px 2px rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19) !important;
          }
        }
        .imgbottomleft {
          animation-delay: 0.5s;
          filter: saturate(12) hue-rotate(-19deg);
        }
        .imgbottommiddle {
          filter: saturate(12) hue-rotate(-19deg);
        }
      }
  }
  .maintext {
    margin: 5vh 5vw 0 5vw;
    color: white;
    font-size: 20px;
    font-family: 'Titillium Web';
  }
}
.A5 {
  @include layer(#538ad9, #3468b3, 5);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .topside {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65vh;
    width: 100vw;
    .title {
      margin: 0 0 0 0;
      padding-top: 12vh;
      font-size: 50px;
      font-family: 'Hansief';
      text-align: center;
      color: white;
      .delay {
        animation-delay: 1.2s;
      }
    }
  }
  .botside {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: white;
      position: relative;
      height: 35vh;
      width: 100vw;
      .images {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        transform: rotate(180deg);
        img {
          margin: 0.75vw 2.5vh 0.75vw 2.5vh;
          height: 11vw;
          width: 11vw;
          border-radius: 50%;
          cursor: pointer;
          @include flashborder;
          animation: flashborder 2s linear infinite;
          transform: rotate(180deg);
          transition: .5s;

          &:hover {
            animation-play-state: paused;
            box-shadow: 0 0 10px 2px rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19) !important;
          }
        }
        .imgkindaright {
          animation-delay: 0.25;
        }
        .imgfarleft {
          animation-delay: 0.5s;
        }
        .imgkindaleft {
          animation-delay: 0.75s;
        }
      }
  }
  .maintext {
    margin: 5vh 5vw 0 5vw;
    color: white;
    font-size: 20px;
    font-family: 'Titillium Web';
  }
}
.panel {
  max-height: 100vh !important;
  overflow-y: hidden !important;
}
.B {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-image: url('../images/rulerpencil.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20vh;
  z-index: 9;

  .title {
    @include title(white);
  }
}
// DYNAMIC CLASSES FOR B1 B2 //
.enlarged {
  position: relative;
  margin: 5vh 10vw 5vh 10vw !important;
  width: 80vw !important;
  height: 70vh !important;
}
.imggone {
  &::after {
    transition: 0.5s 0s!important;
    opacity: 0!important;
  }
}
.halfgone {
  &::after {
    opacity: 0.6!important;
  }
}
//                          //
.B1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include layer(#34a3ed, #34a3ed, 8);

  .hover {
    position: absolute;
    top: 52vh;
    left: 30vw;
    width: 40vw;
    height: 4vh;
    text-align: center;
    color: white;
    font-family: 'Abel';
    font-size: 28px;
  }
  .title {
    @include title(white);
    margin-bottom: 0;
  }
  .line {
    width: 250px;
    height: 5px;
    background-color: white;
    border: none;
  }
  .sections {
    $sameHorizMargin: 23vw;
    $sameVertMargin: 5vh;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 80vh;
    width: 100vw;
    transition: 1s;

    .topleft, .topright, .botleft, .botright {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      border: 5px solid white;
      width: 24vw;
      height: 30vh;
      transition: 1s;
      @include flashborder;
      animation: flashborder 2s linear infinite;
      animation-delay: 1s;

      button {
        padding: .5vh .5vw;
        border: none;
        background-color: white;
        color: #43c2db;
        font-size: 20px;
        font-family: 'Titillium Web';
        transition: 1s;
        cursor: pointer;
        opacity: 0;

        &:hover {
          box-shadow: 0 5px 8px 0 rgba(0,0,0,0.24), 0 10px 25px 0 rgba(0,0,0,0.19);
          color: #34a3ed;
        }
      }
      .infolabel {
        color: white;
        font-family: 'Titillium Web';
        font-size: 20px;
        opacity: 0;
      }
      .infotext {
        margin: 0 7.5vw 0 7.5vw;
        color: white;
        font-family: 'Titillium Web';
        font-size: 20px;
        text-align: justify;
      }
      .boxtitle {
        margin-bottom: 5vh;
        color: white;
        font-family: 'Titillium Web';
        font-size: 30px;
        opacity: 0;
      }

      &:hover {
        animation-play-state: paused;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

        .infolabel {
          opacity: 1;
        }
        button {
          opacity: 1;
        }
      }
      &::after {
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        z-index: -1;
        transition: 0.5s 1s;
      }
    }
    .topleft {
      &::after {
        content: "";
        background: url('../images/customer.png');
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
      }

      @include fourSectionPos(topleft, $sameVertMargin, $sameHorizMargin);
    }
    .topright {
      &::after {
        content: "";
        background: url('../images/customer.png');
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
      }

      @include fourSectionPos(topright, $sameVertMargin, $sameHorizMargin);
    }
    .botleft {
      &::after {
        content: "";
        background: url('../images/customer.png');
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
      }

      @include fourSectionPos(botleft, $sameVertMargin, $sameHorizMargin);
    }
    .botright {
      &::after {
        content: "";
        background: url('../images/customer.png');
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
      }

      @include fourSectionPos(botright, $sameVertMargin, $sameHorizMargin);
    }
    .closeSec {
      position: absolute;
      top: 7vh;
      right: 12vw;
      width: 3.5vh;
      height: 3.5vh;
      filter: invert(1);
      z-index: 9;
      cursor: pointer;
    }
  }
}
.B2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include layer(#65dbf2, #65dbf2, 7);

  .hover {
    position: absolute;
    top: 52vh;
    left: 30vw;
    width: 40vw;
    height: 4vh;
    text-align: center;
    color: white;
    font-family: 'Abel';
    font-size: 28px;
  }
  .title {
    @include title(white);
    margin-bottom: 0;
  }
  .line {
    width: 250px;
    height: 5px;
    background-color: white;
    border: none;
  }
  .sections {
    $sameHorizMargin: 23vw;
    $sameVertMargin: 5vh;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 80vh;
    width: 100vw;

    .topleft, .topright, .botleft, .botright {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      border: 5px solid white;
      width: 24vw;
      height: 30vh;
      @include flashborder;
      transition: 1s;
      animation: flashborder 2s linear infinite;
      animation-delay: 1s;

      button {
        padding: .5vh .5vw;
        border: none;
        background-color: white;
        color: #43c2db;
        font-size: 20px;
        font-family: 'Titillium Web';
        transition: 1s;
        cursor: pointer;
        opacity: 0;

        &:hover {
          box-shadow: 0 5px 8px 0 rgba(0,0,0,0.24), 0 10px 25px 0 rgba(0,0,0,0.19);
          color: #34a3ed;
        }
      }
      .infolabel {
        color: white;
        font-family: 'Titillium Web';
        font-size: 20px;
        opacity: 0;
      }
      .infotext {
        margin: 0 7.5vw 0 7.5vw;
        color: white;
        font-family: 'Titillium Web';
        font-size: 20px;
        text-align: justify;
      }
      .boxtitle {
        margin-bottom: 5vh;
        color: white;
        font-family: 'Titillium Web';
        font-size: 30px;
        opacity: 0;
      }
      .compvideo {
        margin: 5vh 0 0 0;
        border: 5px solid white;
        width: 40vw;
        height: 35vh;
      }

      &:hover {
        animation-play-state: paused;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

        .infolabel {
          opacity: 1;
        }
        button {
          opacity: 1;
        }
      }
      &::after {
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        z-index: -1;
        transition: 0.5s 1s;
      }
    }
    .topleft {
      @include fourSectionPos(topleft, $sameVertMargin, $sameHorizMargin);

      &::after {
        content: "";
        background: url('../images/founders.png');
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
      }
    }
    .topright {
      &::after {
        content: "";
        background: url('../images/accomplishment.png');
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
      }

      @include fourSectionPos(topright, $sameVertMargin, $sameHorizMargin);
    }
    .botleft {
      &::after {
        content: "";
        background: url('../images/customer.png');
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
      }

      @include fourSectionPos(botleft, $sameVertMargin, $sameHorizMargin);
    }
    .botright {
      &::after {
        content: "";
        background: url('../images/research.png');
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
      }

      @include fourSectionPos(botright, $sameVertMargin, $sameHorizMargin);
    }
    .closeSec {
      position: absolute;
      top: 7vh;
      right: 12vw;
      width: 3.5vh;
      height: 3.5vh;
      filter: invert(1);
      z-index: 9;
      cursor: pointer;
    }
  }
}
.flip180 {
  transform: rotate(180deg) !important;
  transition: transform 1s;
}
.unflip180 {
  transform: rotate(0deg) !important;
  transition: transform 1s;
}
.B3 {
  display: inline-flex;
  @include layer(black, black, 6);

  .title {
    @include title(white, 50px);
    margin-bottom: 2vh;
  }
  .subtitle {
    height: 8vh;
    margin-bottom: 2vh;
    font-size: 35px;
    font-family: 'Hansief';
    color: white;
    text-align: center;
  }
  .left, .right, .middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.33vw;
    height: 100vh;

    .line {
      width: 175px;
      height: 5px;
      background-color: white;
      border: none;
    }
  }
  .middle {
    background: #b4b4b4;

    .line {
      animation-delay: 2s;
    }
    .infofromsides {
      margin: 5vh 5vw 0 5vw;
      color: white;
      font-size: 18px;
      font-family: 'Titillium Web';
    }
  }
  .left {
    padding-top: 8vh;
    background: #1e7fff;

    .dropdown {
      margin: 5vh 0 0 0;
      color: #0055c6;
      font-family: 'Titillium Web';
      font-size: 17px;

      .droplabel {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0;
        width: 20.5vw;
        background-color: white;
        padding: 1vh 1vw;
        font-size: 18px;
        cursor: pointer;
        @include flashborder;
        animation: flashborder 2s linear infinite;
        transition: 1s;

        .dropbutt {
          margin: 0 1vw 0 0;
          width: 20px;
          height: 20px;
        }
        &:hover {
          animation-play-state: paused;
          box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }
      }
      .dropmenu {
        margin: 0;
        padding: 0;
        text-align: center;
        list-style-type: none;

        .dropsel {
          padding: 1vh 3vw;
          background-color: white;
          width: 16.5vw;
          cursor: pointer;
          transition: .5s;

          &:hover {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
          }
        }
        @include intervalAnimationDelay(1);
        @include intervalAnimationDelay(2);
        @include intervalAnimationDelay(3);
        @include intervalAnimationDelay(4);
      }
    }
  }
  .right {
    padding-top: 8vh;
    background: #1e7fff;

    .line {
      animation-delay: 4s;
    }
    .dropdown {
      margin: 5vh 0 0 0;
      color: #0055c6;
      font-family: 'Titillium Web';
      font-size: 17px;

      .droplabel {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0;
        width: 20.5vw;
        background-color: white;
        padding: 1vh 1vw;
        font-size: 18px;
        cursor: pointer;
        @include flashborder;
        animation: flashborder 2s linear infinite;
        transition: 1s;

        .dropbutt {
          margin: 0 1vw 0 0;
          width: 20px;
          height: 20px;
        }
        &:hover {
          animation-play-state: paused;
          box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }
      }
      .dropmenu {
        margin: 0;
        padding: 0;
        text-align: center;
        list-style-type: none;

        .dropsel {
          padding: 1vh 3vw;
          background-color: white;
          width: 16.5vw;
          cursor: pointer;
          transition: .5s;

          &:hover {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
          }
        }
        @include intervalAnimationDelay(1);
        @include intervalAnimationDelay(2);
        @include intervalAnimationDelay(3);
        @include intervalAnimationDelay(4);
      }
    }

  }
}
.C {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include layer(#3eadff, #005a9b, 5, to bottom right);

  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  .title {
    margin: 15vh 0 0 0;
    @include title(white);
  }
  .stories {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 90vw;
    height: 52.5vh;

    .story {
      position: relative;
      margin: 2vw;
      width: 15vw;
      height: 26vw;
      border: 5px solid white;
      cursor: pointer;
      transition-delay: .25s !important;
      transition: .5s;
      z-index: 6;
      @include flashborder;
      animation: flashborder 2s infinite;

      img {
        width: 15vw;
        height: 26vw;
      }
      .awoverlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 11vw;
        height: 22vw;
        padding: 2vw;
        background-color: #1d92e7;
        text-align: center;
        font-size: 11px;
        letter-spacing: 3px;
        text-transform: uppercase;
        font-family: 'Hansief';
        cursor: pointer;

        h1 {
          color: white;
        }

      }
      &:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      }
    }
  }
  .seemore {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 9vh;
    height: 5vh;
    padding: 0 1vw 0 1vw;
    background-color: white;
    color: #0077cc;
    font-family: 'Hansief';
    font-size: 25px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s;
    z-index: 6;

    &:hover {
      box-shadow: 0 5px 8px 0 rgba(0,0,0,0.24), 0 10px 25px 0 rgba(0,0,0,0.19);
      color: #005a9b;
    }
  }
  .morestories {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #35a1f0;
    z-index: 6;

    .morestorieslist {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      margin-top: 10vh;
      width: 90vw;
      height: 80vh;

      .story {
        position: relative;
        margin: 2vw;
        width: 15vw;
        height: 26vw;
        border: 5px solid white;
        cursor: pointer;
        transition-delay: .25s !important;
        transition: .5s;
        @include flashborder;
        animation: flashborder 2s linear infinite;

        img {
          width: 15vw;
          height: 26vw;
        }
        .awoverlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 11vw;
          height: 22vw;
          padding: 2vw;
          background-color: #1d92e7;
          text-align: center;
          font-size: 11px;
          letter-spacing: 3px;
          text-transform: uppercase;
          font-family: 'Hansief';
          cursor: pointer;

          h1 {
            color: white;
          }

        }
        &:hover {
          box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }
      }
    }
    .doneseeing {
      margin: 5vh 0 5vh 0;
      width: 30px;
      height: 30px;
      cursor: pointer;
      z-index: 101;
      filter: invert(1);
    }
  }
}
.D {
  @include layer(black, black, 4, to bottom right);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../images/contact.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  hr {
    margin: 1vh 47vw 2vh 47vw;
    border: 5px solid white;
    width: 6vw;
  }
  .contactinfo {
    margin: 0 0 3vh 0;
    color: white;
    font-family: 'Abel';
    font-size: 18px;
    text-align: center;
    line-height: 3vh;
  }
  .socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2vh 25vw 0 25vw;
    width: 50vw;
    a {
      margin: 0;
      cursor: pointer;
      z-index: 101;

      img {
        width: 2vw;
        height: 2vw;
        filter: invert(1);
      }
    }
  }
  .contactForm {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    z-index: 4;

    input, textarea {
      margin: 0 25vw 2vh 25vw;
      width: 50vw;
      border: 0;
      box-sizing: border-box;
      padding: .75vw;
      color: black;
      font-family: 'Titillium Web';
      font-size: 13px;
      transition: .5s;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
      }
      &:focus {
        outline: none;
        transition: 0;
      }
      &::placeholder {
        font-family: 'Titillium Web';
      }
      &:hover {
        box-shadow: 0 5px 8px 0 rgba(0,0,0,0.24), 0 10px 25px 0 rgba(0,0,0,0.19);
      }
    }

    .nameinput, .phoneinput {
      width: 24vw !important;
      margin: 0 1vw 2vh 1vw !important;
    }
    .messageinput {
      height: 30vh;
      max-height: 30vh;
    }
    .confirmArea {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      width: 50vw;
      height: 5vh;

      .sendinputs {
        margin: 0 0.5vw 0 0 !important;
        width: 8.5vw;
        height: 5vh;
        background-color: white;
        transition: .5s;
        cursor: pointer;

        &:hover {
          background-color: #eee;
        }
        &:active {
          background-color: white;
          box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }
      }
      .sent {
        margin: 0;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        transition: .5s;
      }
    }
  }
  .map {
    position: absolute;
    bottom: 5vh;
    right: 4vw;
    width: 17vw;
    height: 75vh;
    z-index: 4;
  }
  .title {
    @include title(white);
    margin-bottom: 0;
  }
  .talk {
    filter: invert(1);
    cursor: pointer;
    z-index: 1000;
  }
}
.E {
  @include layer(#006cff, #0045a3, 3, to bottom right);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../images/calendar.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  .title {
    @include title(white);
  }
  .contactForm {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 20vw 0 20vw;
    z-index: 4;

    input, textarea {
      margin: 0 0 2vh 0;
      width: 50vw;
      border: 0;
      box-sizing: border-box;
      padding: .75vw;
      color: black;
      font-family: 'Titillium Web';
      font-size: 13px;
      transition: .5s;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
      }
      &:focus {
        outline: none;
        transition: 0;
      }
      &::placeholder {
        font-family: 'Titillium Web';
      }
      &:hover {
        box-shadow: 0 5px 8px 0 rgba(0,0,0,0.24), 0 10px 25px 0 rgba(0,0,0,0.19);
      }
    }
    .setappt {
      width: 50vw;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .appt {
        width: 24vw;
        cursor: pointer;

        &::-webkit-inner-spin-button {
          display: none;
        }
        &::-webkit-calendar-picker-indicator {
          opacity: 1;
        }
        &::-ms-clear {
          display: none;
        }
      }
    }
    .nameinput, .phoneinput {
      width: 24vw;
      margin: 0 1vw 2vh 1vw !important;
    }
    .messageinput {
      height: 30vh;
      max-height: 30vh;
    }
    .confirmArea {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      width: 50vw;
      height: 5vh;

      .sendinputs {
        margin: 0 0.5vw 0 0 !important;
        width: 24vw;
        height: 5vh;
        background-color: white;
        transition: .5s;
        cursor: pointer;

        &:hover {
          background-color: #eee;
        }
        &:active {
          background-color: white;
          box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }
      }
      .sent {
        margin: 0;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        transition: .5s;
      }
    }
  }
  .closeaptfaq {
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 5vh;
    margin: 3vh 0 0 0;
    filter: invert(1);
    cursor: pointer;
    z-index: 1000;
    transition: 0.35s;

    &:hover {
      width: 35px;
      height: 35px;
    }
  }
  .seemores {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    height: 5vh;
    padding: 0 1vw 0 1vw;
    background-color: white;
    color: #4a86b6;
    font-family: 'Hansief';
    font-size: 25px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s;
    z-index: 6;

    &:hover {
      box-shadow: 0 5px 8px 0 rgba(0,0,0,0.24), 0 10px 25px 0 rgba(0,0,0,0.19);
      color: #005a9b;
    }
  }
  .faq {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #5792e3;
    z-index: 4;
    overflow-x: hidden;
    overflow-y: hidden;

    .qanda, .anotherqanda {
      position: absolute;
      top: 25vh;
      left: 15vw;
      width: 70vw;
      height: 50vh;
      color: white;
      font-family: 'Titillium Web';

      .question {
        font-size: 20px;
      }
      .answer {
        font-size: 15px;
      }
    }
    .nextqs {
      position: absolute;
      top: 55vh;
      left: 85vw;
      width: 4vh;
      height: 4vh;
      cursor: pointer;
      transition: 0.35s;

      &:hover {
        width: 5vh;
        height: 5vh;
      }
    }
  }
}
@media (max-width: 1440px) {
  .viz {
    .selecttitle {
      font-size: 45px;
    }
  }
  .B3 {
    .middle {
      .infofromsides {
        font-size: 15px!important;
      }
    }
  }
}
/* Largeish devices (tablets/small laptops, 768-1024) */
@media (max-width: 1024px) {
  .viz {
    .selecttitle {
      font-size: 32px;
    }
  }
  .title {
    font-size: 50px!important;
  }
  .A1, .A2, .A3, .A4, .A5 {
    .title {
      font-size: 40px!important;
    }
  }
  .B3 {
    .droplabel {
      font-size: 14px!important;
    }
    .dropdown {
      margin: 0!important;
      font-size: 12px!important;
    }
    .subtitle {
      font-size: 25px!important;
    }
    .title {
      font-size: 28px!important;
    }
    .middle {
      .infofromsides {
        margin: 3vh 5vw 0 5vw!important;
        font-size: 13px!important;
      }
    }
  }
  .maintext {
    margin: 3.5vh!important;
    font-size: 16px!important;
  }
  .line {
    width: 100px!important;
    height: 4px!important;
  }
  .B1, .B2 {
    .hover {
      top: 48.5vh;
      font-size: 20px;
    }
  }
  .C {
    .stories {
      .story {
        width: 15vw!important;
        height: 30vw!important;
        .awoverlay {
          width: 11vw!important;
          height: 26vw!important;
          h1 {
            font-size: 14px!important;
          }
        }
      }
    }
    .morestories {
      .morestorieslist {
        .story {
          .awoverlay {
            h1 {
              font-size: 11px!important;
            }
          }
        }
      }
    }
  }
}
/* Medium devices (tablets, 576-768) */
@media (max-width: 769px) {
  .viz {
    .selecttitle {
      font-size: 24px;
    }
  }
  .title {
    font-size: 45px!important;
  }
  .A1, .A2, .A3, .A4, .A5 {
    .title {
      font-size: 35px!important;
    }
  }
  .maintext {
    margin: 3vh!important;
    font-size: 14px!important;
  }
  .line {
    width: 70px!important;
    height: 3px!important;
  }
  .B3 {
    .droplabel {
      font-size: 14px!important;
    }
    .dropdown {
      margin: 0!important;
      font-size: 12px!important;
    }
    .subtitle {
      font-size: 25px!important;
    }
    .title {
      font-size: 28px!important;
    }
    .middle {
      .infofromsides {
        margin: 3vh 5vw 0 5vw!important;
        font-size: 11px!important;
      }
    }
  }
  .C {
    .stories {
      width: 100vw!important;
      .story {
        width: 18vw!important;
        height: 37vw!important;
        .awoverlay {
          width: 14vw!important;
          height: 33vw!important;
          h1 {
            font-size: 12px!important;
          }
        }
      }
    }
    .morestories {
      .morestorieslist {
        width: 100vw!important;
        .story {
          width: 18vw!important;
          height: 37vw!important;
          .awoverlay {
            width: 14vw!important;
            height: 33vw!important;
            h1 {
              font-size: 12px!important;
            }
          }
        }
      }
    }
  }
  .D {
    .socials img {
      width: 6vw!important;
      height: 6vw!important;
    }
    .contactForm {
      input, textarea {
        border-radius: 5px!important;
      }
    }
  }
}
/* Small devices (landscape phones, 420-576) */
@media (max-width: 576px) {
  .viz {
    .selecttitle {
      font-size: 20px;
    }
  }
  .title {
    font-size: 35px!important;
  }
  .A1, .A2, .A3, .A4, .A5 {
    .title {
      font-size: 30px!important;
    }
  }
  .maintext {
    margin: 2vh!important;
    font-size: 12px!important;
  }
  .line {
    width: 45px!important;
    height: 3px!important;
  }
  .C {
    .stories {
      .story {
        .awoverlay {
          h1 {
            font-size: 10px!important;
          }
        }
      }
    }
    .morestories {
      .morestorieslist {
        .story {
          .awoverlay {
            h1 {
              font-size: 7px!important;
            }
          }
        }
      }
    }
  }
  .D {
    .socials img {
      width: 8vw!important;
      height: 8vw!important;
    }
    .contactForm {
      input, textarea {
        border-radius: 4px!important;
      }
    }
  }
}
/* Small devices (portrait phones, < 420) */
@media (max-width: 420px) {
  .viz {
    .selecttitle {
      font-size: 15px;
    }
  }
  .title {
    font-size: 25px!important;
  }
  .A1, .A2, .A3, .A4, .A5 {
    .title {
      font-size: 17px!important;
    }
  }
  .maintext {
    margin: 1.5vh!important;
    font-size: 9px!important;
  }
  .line {
    width: 30px!important;
    height: 3px!important;
  }
  .B1 {
    .hover {
      top: 44vh!important;
      font-size: 14px!important;
    }
    .sections {
      .topleft, .topright, .botleft, .botright {
        .infolabel {
          font-size: 9px!important;
        }
        .infotext {
          font-size: 9px!important;
        }
        .boxtitle {
          font-size: 11px!important;
        }
        button {
          font-size: 11px!important;
        }
      }
    }
  }
  .B2 {
    .hover {
      top: 44vh!important;
      font-size: 14px!important;
    }
    .sections {
      .topleft, .topright, .topmid, .botmid, .botleft, .botright {
        .infolabel {
          font-size: 9px!important;
        }
        .infotext {
          font-size: 9px!important;
        }
        .boxtitle {
          font-size: 11px!important;
        }
        button {
          font-size: 11px!important;
        }
      }
    }
  }
  .B3 {
    .middle {
      .title {
        font-size: 14px!important;
      }
      .infofromsides {
        font-size: 9px!important;
      }
    }
    .left, .right {
      .subtitle {
        font-size: 14px!important;
      }
      .droplabel {
        font-size: 10px!important;
      }
      .dropdown {
        font-size: 10px!important;
      }
      .dropbutt {
        width: 12px!important;
        height: 12px!important;
      }
    }
  }
  .C {
    .stories {
      .story {
        width: 30vw!important;
        height: 42vw!important;
        .awoverlay {
          width: 26vw!important;
          height: 38vw!important;
          h1 {
            font-size: 9px!important;
          }
        }
      }
    }
    .morestories {
      .morestorieslist {
        .story {
          width: 30vw!important;
          height: 42vw!important;
          .awoverlay {
            width: 26vw!important;
            height: 38vw!important;
            h1 {
              font-size: 9px!important;
            }
          }
        }
      }
    }
  }
  .D {
    .socials img {
      width: 8vw!important;
      height: 8vw!important;
    }
    .contactForm {
      input, textarea {
        border-radius: 1px!important;
      }
      .sendinputs  {
        width: 24vw !important;
      }
    }
    .contactinfo {
      font-size: 14px;
    }
  }
  .E {
    .contactForm {
      input, textarea {
        border-radius: 1px!important;
      }
      .sendinputs {
        width: 50vw !important;
        height: 4vh !important;
        font-size: 12px;
      }
    }
    .faq {
      .qanda, .anotherqanda {
        top: 15vh !important;
        h1 {
            font-size: 9.25px!important;
        }
      }
    }
  }
}
